@import url('style.css');
html,
body {
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
