@import url('common.css');

/* main */

main {
  width: 100%;
}

.event {
  width: 80%;
  margin: 0 auto;
  padding-top: 20vh;
}

.event h2 {
  border-bottom: 2px solid #313131;
  padding: 0 0 1% 1%;
  font-size: 2vw;
}

.event ul {
  padding-top: 24vh;
  width: 100%;
  height: 120vh;
}

.event ul li {
  width: 46%;
  height: 40vh;
  border: 2px solid #313131;
  margin-bottom: 10vh;
}

.event ul li:first-child,
.event ul li:last-child{
  float: left;
  
}
.event ul li:nth-of-type(2){
  float: right;
}
.event ul li a {
  color: #000;
}

.event ul li:hover a {
  color:#00409a;
}

.event ul li:hover {
  border: 2px solid #00409a;
}

.event ul li img {
  width: 100%;
  height: 70%;
}

.event ul li h3 {
  font-size: 1.2vw;
  padding: 2% 0 0 1%;
}

.event ul li p {
  font-size: .9vw;
  padding: 5% 0 0 1%;
}