@import url("common.css");
/* main */

.spot {
  width: 100%;
  height: 75vh;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
}

.spot span img {
  width: 1.4%;
  position: absolute;
  top: 36vh;
  z-index: 1;
  color: #eee;
  opacity: .6;
  cursor: pointer;
}

.spot span:hover img {
  color: #fff;
  opacity: 1;
}

.spot span:nth-of-type(1) img {
  left: 2%;

}

.spot span:nth-of-type(2) img {
  right: 2%;
}

.spot .indi {
  position: absolute;
  top: 70vh;
  right: 2%;
  display: inline-block;
  width: 90px;
  height: 30px;
  background: #434343;
  border-radius: 20px;
  z-index: 1;
  cursor: pointer;
}

.spot .indi span:nth-of-type(1) {
  position: absolute;
  top: 20%;
  left: 26%;
  font-size: 1.1em;
  color: #fff;
}

.spot .indi span:nth-of-type(2) {
  content: "";
  border: 8px solid transparent;
  border-bottom: 13px solid rgba(221, 221, 221, 0.582);
  transform: rotate(90deg);
  position: absolute;
  right: 2%;
  top: 12%;
  display: none;
  z-index: 2;
}

.spot .indi p {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 34%;
  height: 30px;
  background: #313131;
  border-radius: 30px;
  text-align: center;
  padding-top: 8%;
  color: rgba(221, 221, 221, 0.582);
  cursor: pointer;
}

.spot .indi p:hover {
  color: #fff;
}

.spot .indi span:nth-of-type(2):hover {
  border-bottom: 13px solid #fff;
}

.spot .visual {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
  top: 0;
  left: 0;
}

.spot .visual figure {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.spot .visual figure img {
  width: 100%;
  height: 100%;
}

.mobile_indi{
  display: none;
}

.popup {
  position: fixed;
  top: 200px;
  left: 800px;
  z-index: 1;
  background: #313131;
  width: 250px;
  height: 300px;
  text-align: center;
  display: none;
}

.popup.active {
  display: block;
}

.popup h2 {
  padding: 20px 0 50px 0;
  color: #fff;
}

.popup p {
  padding: 10px;
}

.popup label {
  color: #fff;
}

.popup .closer {
  width: 15px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 20px;
}

.popup .closer span {
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 20px;
  right: 0;
  cursor: pointer;
}

.popup .closer span:nth-of-type(1) {
  transform: rotate(45deg);
}

.popup .closer span:nth-of-type(2) {
  transform: rotate(-45deg);
}

.popup p:nth-of-type(3) {
  padding-top: 40px;
}

/*=============tab=============*/

.tab {
  width: 100%;
  padding-top: 17vh;
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
}

.tab h2 {
  padding-bottom: 12vh;
  text-transform: uppercase;
  color: #313131;
  font-size: 2rem;
}

.tab_head {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab_head a {
  width: 320px;
  height: 320px;
  position: relative;
  left: 0;
  top: 0;
}

.tab_head a:before {
  content: "";
  border: 25px solid transparent;
  border-bottom: 35px solid #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 1;
}

.tab_head a:hover:before {
  opacity: 1;
}

.tab_head a:after {
  content: "";
  width: 100%;
  height: 320px;
  background: #4282d8;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.tab_head a:hover:after {
  opacity: 0.4;
}

.tab_head a span {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}

.tab_head a:hover span {
  opacity: 1;
}

.tab_head a span p {
  padding-top: 50px;
}

.tab_head a:nth-of-type(1) {
  background: url(../img/over-omd.jpg) no-repeat;
  background-size: 100%;
}

.tab_head a:nth-of-type(2) {
  background: url(../img/over-pen.jpg) no-repeat;
  background-size: 100%;
}

.tab_head a:nth-of-type(3) {
  background: url(../img/over-lens.jpg) no-repeat;
  background-size: 100%;
}

.tab_head a:nth-of-type(4) {
  background: url(../img/over-accesory.jpg) no-repeat;
  background-size: 100%;
}

/*===========tab_body=============*/

.tab_body {
  width: 50%;
  height: 34vh;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0;
}

.tab_body ul {
  width: 100%;
  position: absolute;
  left: 0;
  top: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  display: none;
}

.tab_body ul.active {
  display: flex;
}

.tab_body ul li h3 {
  padding-top: 20px;
  font-size: 1.2rem;
}

.tab_body ul li p {
  white-space: pre-line;
  padding-bottom: 40px;
}

.tab_body ul li a {
  padding: 16px;
  background: #00409a;
  border-radius: 10px;
  color: #fff;
  font-size: 0.9em;
}

.tab_body ul:nth-of-type(3) {
  padding: 0 5%;
}

.tab_body ul:nth-of-type(1) li img {
  width: 110px;
}

.tab_body ul:nth-of-type(2) li img {
  width: 130px;
}

.tab_body ul:nth-of-type(3) li img {
  width: 80px;
}

.tab_body ul:nth-of-type(4) li img {
  width: 150px;
}

/*================gallery=================*/

.gallery {
  width: 70%;
  padding-top: 20vh;
  margin: 0 auto;
  text-align: center;
}

.gallery h2 {
  padding-bottom: 12vh;
  font-size: 2rem;
  text-transform: uppercase;
}

.gallery h2 a {
  color: #313131;
}

.gallery ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery ul li {
  width: 320px;
  height: 320px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.gallery ul li a:hover h3 {
  opacity: 1;
}

.gallery ul li a h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: bold;
  opacity: 0;
  transition: .5s;
}

.gallery ul li a div {
  width: 100%;
  height: 320px;
  overflow: hidden;
}

.gallery ul li a div img {
  width: 100%;
  height: 320px;
}

.gallery ul li a div:hover img {
  transform: scale(1.1);
  opacity: .6;
  transition: 0.5s;
}

/*------------- 1440 -------------*/
@media (max-width: 1440px) {
  
  /*--------- main ------------*/

  .spot {
    width: 100%;
    height: 75vh;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
  }

  .spot span img {
    width: 1.4%;
    position: absolute;
    top: 36vh;
    z-index: 1;
    color: #eee;
    opacity: .6;
    cursor: pointer;
  }

  .spot span:hover img {
    color: #fff;
    opacity: 1;
  }

  .spot span:nth-of-type(1) img {
    left: 2%;

  }

  .spot span:nth-of-type(2) img {
    right: 2%;
  }

  .spot .indi {
    position: absolute;
    top: 70vh;
    right: 2%;
    display: inline-block;
    width: 90px;
    height: 30px;
    background: #434343;
    border-radius: 20px;
    z-index: 1;
    cursor: pointer;
  }

  .spot .indi span:nth-of-type(1) {
    position: absolute;
    top: 20%;
    left: 26%;
    font-size: 1.1em;
    color: #fff;
  }

  .spot .indi span:nth-of-type(2) {
    content: "";
    border: 8px solid transparent;
    border-bottom: 13px solid rgba(221, 221, 221, 0.582);
    transform: rotate(90deg);
    position: absolute;
    right: 2%;
    top: 12%;
    display: none;
    z-index: 2;
  }

  .spot .indi p {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 34%;
    height: 30px;
    background: #313131;
    border-radius: 30px;
    text-align: center;
    padding-top: 8%;
    color: rgba(221, 221, 221, 0.582);
    cursor: pointer;
  }

  .spot .indi p:hover {
    color: #fff;
  }

  .spot .indi span:nth-of-type(2):hover {
    border-bottom: 13px solid #fff;
  }

  .spot .visual {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
    top: 0;
    left: 0;
  }

  .spot .visual figure {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .spot .visual figure img {
    width: 100%;
    height: 100%;
  }

  .popup {
    position: fixed;
    top: 200px;
    left: 800px;
    z-index: 1;
    background: #313131;
    width: 250px;
    height: 300px;
    text-align: center;
    display: none;
  }

  .popup.active {
    display: block;
  }

  .popup h2 {
    padding: 20px 0 50px 0;
    color: #fff;
  }

  .popup p {
    padding: 10px;
  }

  .popup label {
    color: #fff;
  }

  .popup .closer {
    width: 15px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 20px;
  }

  .popup .closer span {
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    top: 20px;
    right: 0;
    cursor: pointer;
  }

  .popup .closer span:nth-of-type(1) {
    transform: rotate(45deg);
  }

  .popup .closer span:nth-of-type(2) {
    transform: rotate(-45deg);
  }

  .popup p:nth-of-type(3) {
    padding-top: 40px;
  }

  /*=============tab=============*/

  .tab {
    width: 100%;
    padding-top: 17vh;
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
  }

  .tab h2 {
    padding-bottom: 12vh;
    text-transform: uppercase;
    color: #313131;
    font-size: 1.8rem;
  }

  .tab_head {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tab_head a {
    width: 225px;
    height: 225px;
    position: relative;
    left: 0;
    top: 0;
  }

  .tab_head a:before {
    content: "";
    border: 25px solid transparent;
    border-bottom: 35px solid #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 1;
  }

  .tab_head a:hover:before {
    opacity: 1;
  }

  .tab_head a:after {
    content: "";
    width: 100%;
    height: 225px;
    background: #4282d8;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .tab_head a:hover:after {
    opacity: 0.4;
  }

  .tab_head a span {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
  }

  .tab_head a:hover span {
    opacity: 1;
  }

  .tab_head a span p {
    padding-top: 30px;
  }

  .tab_head a:nth-of-type(1) {
    background: url(../img/over-omd.jpg) no-repeat;
    background-size: 100%;
  }

  .tab_head a:nth-of-type(2) {
    background: url(../img/over-pen.jpg) no-repeat;
    background-size: 100%;
  }

  .tab_head a:nth-of-type(3) {
    background: url(../img/over-lens.jpg) no-repeat;
    background-size: 100%;
  }

  .tab_head a:nth-of-type(4) {
    background: url(../img/over-accesory.jpg) no-repeat;
    background-size: 100%;
  }

  /*===========tab_body=============*/

  .tab_body {
    width: 50%;
    height: 34vh;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 0;
  }

  .tab_body ul {
    width: 100%;
    position: absolute;
    left: 0;
    top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    display: none;
  }

  .tab_body ul.active {
    display: flex;
  }

  .tab_body ul li h3 {
    padding-top: 10px;
    font-size: 1.1rem;
  }

  .tab_body ul li p {
    font-size: .9rem;
    white-space: pre-line;
    padding: 10px 0 30px 0;
  }

  .tab_body ul li a {
    padding: 12px;
    background: #00409a;
    border-radius: 10px;
    color: #fff;
    font-size: 0.8em;
  }

  .tab_body ul:nth-of-type(3) {
    padding: 0 5%;
  }

  .tab_body ul:nth-of-type(1) li img {
    width: 100px;
  }

  .tab_body ul:nth-of-type(2) li img {
    width: 120px;
  }

  .tab_body ul:nth-of-type(3) li img {
    width: 70px;
  }

  .tab_body ul:nth-of-type(4) li img {
    width: 140px;
  }

  /*================gallery=================*/

  .gallery {
    width: 70%;
    padding-top: 30vh;
    margin: 0 auto;
    text-align: center;
  }

  .gallery h2 {
    padding-bottom: 12vh;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  .gallery h2 a {
    color: #313131;
  }

  .gallery ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .gallery ul li {
    width: 225px;
    height: 225px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .gallery ul li a h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 1.1rem;
    font-weight: bold;
    opacity: 0;
    transition: .5s;
  }

  .gallery ul li a:hover h3 {
    opacity: 1;
  }

  .gallery ul li a div {
    width: 100%;
    height: 225px;
    overflow: hidden;
  }

  .gallery ul li a div img {
    width: 100%;
    height: 225px;
  }

  .gallery ul li a div:hover img {
    transform: scale(1.1);
    opacity: .6;
    transition: 0.5s;
  }
}

/*----------- 1024 --------------*/
@media(max-width:1024px) {
  /*=============tab=============*/

  .tab {
    width: 100%;
    padding-top: 17vh;
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
  }

  .tab h2 {
    padding-bottom: 12vh;
    text-transform: uppercase;
    color: #313131;
    font-size: 1.8rem;
  }

  .tab_head {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tab_head a {
    width: 180px;
    height: 180px;
    position: relative;
    left: 0;
    top: 0;
  }

  .tab_head a:before {
    content: "";
    border: 25px solid transparent;
    border-bottom: 35px solid #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 1;
  }

  .tab_head a:hover:before {
    opacity: 0;
  }

  .tab_head a:after {
    content: "";
    width: 100%;
    height: 180px;
    background: #4282d8;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .tab_head a:hover:after {
    opacity: 0;
  }

  .tab_head a span {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 1;
  }

  .tab_head a:hover span {
    opacity: 1;
  }

  .tab_head a span h3 {
    padding-top: 10px;
    font-size: 1rem;
  }

  .tab_head a span p {
    padding-top: 10px;
    font-size: .8rem;
  }

  .tab_head a:nth-of-type(1) {
    background: url(../img/over-omd.jpg) no-repeat;
    background-size: 100%;
  }

  .tab_head a:nth-of-type(2) {
    background: url(../img/over-pen.jpg) no-repeat;
    background-size: 100%;
  }

  .tab_head a:nth-of-type(3) {
    background: url(../img/over-lens.jpg) no-repeat;
    background-size: 100%;
  }

  .tab_head a:nth-of-type(4) {
    background: url(../img/over-accesory.jpg) no-repeat;
    background-size: 100%;
  }

  /*===========tab_body=============*/

  .tab_body {
    width: 50%;
    height: 34vh;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 0;
  }

  .tab_body ul {
    width: 100%;
    position: absolute;
    left: 0;
    top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    display: none;
  }

  .tab_body ul.active {
    display: flex;
  }

  .tab_body ul li h3 {
    padding-top: 10px;
    font-size: 1.1rem;
  }

  .tab_body ul li p {
    font-size: .9rem;
    white-space: pre-line;
    padding: 10px 0 30px 0;
  }

  .tab_body ul li a {
    padding: 12px;
    background: #00409a;
    border-radius: 10px;
    color: #fff;
    font-size: 0.8em;
  }

  .tab_body ul:nth-of-type(3) {
    padding: 0 5%;
  }

  .tab_body ul:nth-of-type(1) li img {
    width: 90px;
  }

  .tab_body ul:nth-of-type(2) li img {
    width: 100px;
  }

  .tab_body ul:nth-of-type(3) li img {
    width: 60px;
  }

  .tab_body ul:nth-of-type(4) li img {
    width: 100px;
  }

  /*================gallery=================*/

  .gallery {
    width: 70%;
    padding-top: 30vh;
    margin: 0 auto;
    text-align: center;
  }

  .gallery h2 {
    padding-bottom: 12vh;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  .gallery h2 a {
    color: #313131;
  }

  .gallery ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .gallery ul li {
    width: 180px;
    height: 180px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .gallery ul li a h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: .9rem;
    font-weight: bold;
    opacity: 1;
    transition: .5s;
  }

  .gallery ul li a:hover h3 {
    opacity: 1;
  }

  .gallery ul li a div {
    width: 100%;
    height: 180px;
    overflow: hidden;
  }

  .gallery ul li a div img {
    width: 100%;
    height: 180px;
  }

  .gallery ul li a div:hover img {
    transform: scale(1);
    opacity: 1;
    transition: 0s;
  }
}

/*-------------- 768 --------------*/

@media (max-width: 768px) {

  /* main */

  .spot {
    width: 100%;
    height: 50vh;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
  }

  .spot span img {
    width: 1.4%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #eee;
    opacity: .6;
    cursor: pointer;
  }

  .spot span:hover img {
    color: #eee;
    opacity: .6;
  }

  .spot span:nth-of-type(1) img {
    left: 2%;

  }

  .spot span:nth-of-type(2) img {
    right: 2%;
  }

  .spot .indi {
    position: absolute;
    top: 46vh;
    right: 2%;
    display: inline-block;
    width: 90px;
    height: 30px;
    background: #434343;
    border-radius: 20px;
    z-index: 1;
    cursor: pointer;
  }

  .spot .indi span:nth-of-type(1) {
    position: absolute;
    top: 20%;
    left: 26%;
    font-size: 1.1em;
    color: #fff;
  }

  .spot .indi span:nth-of-type(2) {
    content: "";
    border: 8px solid transparent;
    border-bottom: 13px solid rgba(221, 221, 221, 0.582);
    transform: rotate(90deg);
    position: absolute;
    right: 2%;
    top: 12%;
    display: none;
    z-index: 2;
  }

  .spot .indi p {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 34%;
    height: 30px;
    background: #313131;
    border-radius: 30px;
    text-align: center;
    padding-top: 8%;
    color: rgba(221, 221, 221, 0.582);
    cursor: pointer;
  }

  .spot .indi p:hover {
    color: #fff;
  }

  .spot .indi span:nth-of-type(2):hover {
    border-bottom: 13px solid #fff;
  }

  .spot .visual {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
    top: 0;
    left: 0;
  }

  .spot .visual figure {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .spot .visual figure img {
    width: 100%;
    height: 100%;
  }

  .mobile_indi{
    display: none;
  }

  .popup {
    position: fixed;
    top: 200px;
    left: 800px;
    z-index: 1;
    background: #313131;
    width: 250px;
    height: 300px;
    text-align: center;
    display: none;
  }

  .popup.active {
    display: block;
  }

  .popup h2 {
    padding: 20px 0 50px 0;
    color: #fff;
  }

  .popup p {
    padding: 10px;
  }

  .popup label {
    color: #fff;
  }

  .popup .closer {
    width: 15px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 20px;
  }

  .popup .closer span {
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    top: 20px;
    right: 0;
    cursor: pointer;
  }

  .popup .closer span:nth-of-type(1) {
    transform: rotate(45deg);
  }

  .popup .closer span:nth-of-type(2) {
    transform: rotate(-45deg);
  }

  .popup p:nth-of-type(3) {
    padding-top: 40px;
  }

  /*=============tab=============*/

  .tab {
    width: 100%;
    padding-top: 14vh;
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
  }

  .tab h2 {
    padding-bottom: 10vh;
    text-transform: uppercase;
    color: #313131;
    font-size: 1.8rem;
  }

  .tab_head {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tab_head a {
    width: 140px;
    height: 140px;
    position: relative;
    left: 0;
    top: 0;
  }

  .tab_head a:before {
    content: "";
    border: 25px solid transparent;
    border-bottom: 35px solid #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 1;
  }

  .tab_head a:hover:before {
    opacity: 0;
  }

  .tab_head a:after {
    content: "";
    width: 100%;
    height: 225px;
    background: #4282d8;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .tab_head a:hover:after {
    opacity: 0;
  }

  .tab_head a span {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 1;
  }

  .tab_head a:hover span {
    opacity: 1;
  }

  .tab_head a span h3 {
    font-size: .9rem;
  }

  .tab_head a span p {
    padding-top: 10px;
    font-size: .7rem;
  }

  .tab_head a:nth-of-type(1) {
    background: url(../img/over-omd.jpg) no-repeat;
    background-size: 100%;
  }

  .tab_head a:nth-of-type(2) {
    background: url(../img/over-pen.jpg) no-repeat;
    background-size: 100%;
  }

  .tab_head a:nth-of-type(3) {
    background: url(../img/over-lens.jpg) no-repeat;
    background-size: 100%;
  }

  .tab_head a:nth-of-type(4) {
    background: url(../img/over-accesory.jpg) no-repeat;
    background-size: 100%;
  }

  /*===========tab_body=============*/

  .tab_body {
    width: 50%;
    height: 34vh;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 0;
  }

  .tab_body ul {
    width: 100%;
    position: absolute;
    left: 0;
    top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    display: none;
  }

  .tab_body ul.active {
    display: flex;
  }

  .tab_body ul li h3 {
    padding-top: 10px;
    font-size: 1.1rem;
  }

  .tab_body ul li p {
    font-size: .9rem;
    white-space: pre-line;
    padding: 10px 0 30px 0;
  }

  .tab_body ul li a {
    padding: 12px;
    background: #00409a;
    border-radius: 10px;
    color: #fff;
    font-size: 0.8em;
  }

  .tab_body ul:nth-of-type(3) {
    padding: 0 5%;
  }

  .tab_body ul:nth-of-type(1) li img {
    width: 80px;
  }

  .tab_body ul:nth-of-type(2) li img {
    width: 100px;
  }

  .tab_body ul:nth-of-type(3) li img {
    width: 50px;
  }

  .tab_body ul:nth-of-type(4) li img {
    width: 100px;
  }

  /*================gallery=================*/

  .gallery {
    width: 70%;
    padding-top: 14vh;
    margin: 0 auto;
    text-align: center;
  }

  .gallery h2 {
    padding-bottom: 10vh;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  .gallery h2 a {
    color: #313131;
  }

  .gallery ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .gallery ul li {
    width: 140px;
    height: 140px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .gallery ul li a h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: .7rem;
    font-weight: bold;
    opacity: 1;
    transition: .5s;
  }

  .gallery ul li a:hover h3 {
    opacity: 1;
  }

  .gallery ul li a div {
    width: 100%;
    height: 140px;
    overflow: hidden;
  }

  .gallery ul li a div img {
    width: 100%;
    height: 140px;
  }

  .gallery ul li a div:hover img {
    transform: scale(1);
    opacity: 1;
    transition: 0s;
  }
}

/*-------------- 425 ---------------*/
@media(max-width:425px) {

  /* main */

  .spot {
    width: 100%;
    height: 30vh;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
  }

  .spot span img {
    width: 1.4%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #eee;
    opacity: .6;
    cursor: pointer;
    display: none;
  }

  .spot span:hover img {
    color: #eee;
    opacity: .6;
  }

  .spot span:nth-of-type(1) img {
    left: 2%;

  }

  .spot span:nth-of-type(2) img {
    right: 2%;
  }

  .spot .indi {
    position: absolute;
    top: 46vh;
    right: 2%;
    display: inline-block;
    width: 90px;
    height: 30px;
    background: #434343;
    border-radius: 20px;
    z-index: 1;
    cursor: pointer;
    display: none;
  }

  .spot .indi span:nth-of-type(1) {
    position: absolute;
    top: 20%;
    left: 26%;
    font-size: 1.1em;
    color: #fff;
  }

  .spot .indi span:nth-of-type(2) {
    content: "";
    border: 8px solid transparent;
    border-bottom: 13px solid rgba(221, 221, 221, 0.582);
    transform: rotate(90deg);
    position: absolute;
    right: 2%;
    top: 12%;
    display: none;
    z-index: 2;
  }

  .spot .indi p {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 34%;
    height: 30px;
    background: #313131;
    border-radius: 30px;
    text-align: center;
    padding-top: 8%;
    color: rgba(221, 221, 221, 0.582);
    cursor: pointer;
  }

  .spot .indi p:hover {
    color: #fff;
  }

  .spot .indi span:nth-of-type(2):hover {
    border-bottom: 13px solid #fff;
  }

  .spot .visual {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
    top: 0;
    left: 0;
  }

  .spot .visual figure {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .spot .visual figure img {
    width: 100%;
    height: 100%;
  }

  .mobile_indi{
    width: 30%;
    height: 6vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile_indi a{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #eee;
  }
  .mobile_indi a.active{
    background: #bbb;
  }

  .popup {
    position: fixed;
    top: 200px;
    left: 800px;
    z-index: 1;
    background: #313131;
    width: 250px;
    height: 300px;
    text-align: center;
    display: none;
  }

  .popup.active {
    display: block;
  }

  .popup h2 {
    padding: 20px 0 50px 0;
    color: #fff;
  }

  .popup p {
    padding: 10px;
  }

  .popup label {
    color: #fff;
  }

  .popup .closer {
    width: 15px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 20px;
  }

  .popup .closer span {
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    top: 20px;
    right: 0;
    cursor: pointer;
  }

  .popup .closer span:nth-of-type(1) {
    transform: rotate(45deg);
  }

  .popup .closer span:nth-of-type(2) {
    transform: rotate(-45deg);
  }

  .popup p:nth-of-type(3) {
    padding-top: 40px;
  }

  /*=============tab=============*/

  .tab {
    width: 100%;
    padding-top: 10vh;
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
  }

  .tab h2 {
    padding-bottom: 8vh;
    text-transform: uppercase;
    color: #313131;
    font-size: 1.4rem;
  }

  .tab_head {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tab_head a {
    width: 80px;
    height: 80px;
    position: relative;
    left: 0;
    top: 0;
  }

  .tab_head a:before {
    content: "";
    border: 25px solid transparent;
    border-bottom: 35px solid #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 1;
  }

  .tab_head a:hover:before {
    opacity: 0;
  }

  .tab_head a:after {
    content: "";
    width: 100%;
    height: 80px;
    background: #4282d8;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .tab_head a:hover:after {
    opacity: 0;
  }

  .tab_head a span {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 1;
  }

  .tab_head a:hover span {
    opacity: 1;
  }

  .tab_head a span h3 {
    font-size: .7rem;
  }

  .tab_head a span p {
    padding-top: 6px;
    font-size: .6rem;
    white-space: pre-line;
  }

  .tab_head a:nth-of-type(1) {
    background: url(../img/over-omd.jpg) no-repeat;
    background-size: 100%;
  }

  .tab_head a:nth-of-type(2) {
    background: url(../img/over-pen.jpg) no-repeat;
    background-size: 100%;
  }

  .tab_head a:nth-of-type(3) {
    background: url(../img/over-lens.jpg) no-repeat;
    background-size: 100%;
  }

  .tab_head a:nth-of-type(4) {
    background: url(../img/over-accesory.jpg) no-repeat;
    background-size: 100%;
  }

  /*===========tab_body=============*/

  .tab_body {
    width: 70%;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 0;
  }

  .tab_body ul {
    width: 100%;
    position: absolute;
    left: 0;
    top: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    display: none;
  }

  .tab_body ul.active {
    display: flex;
  }

  .tab_body ul li h3 {
    padding-top: 10px;
    font-size: .7rem;
  }

  .tab_body ul li p {
    font-size: .6rem;
    white-space: pre-line;
    padding: 10px 0 10px 0;
  }

  .tab_body ul li a {
    padding: 6px;
    background: #00409a;
    border-radius: 10px;
    color: #fff;
    font-size: 0.6em;
  }

  .tab_body ul:nth-of-type(3) {
    padding: 0 5%;
  }

  .tab_body ul li {
    width: 80px;
  }

  .tab_body ul:nth-of-type(1) li img {
    width: 80%;
  }

  .tab_body ul:nth-of-type(2) li img,
  .tab_body ul:nth-of-type(4) li img {
    width: 90%;
  }

  .tab_body ul:nth-of-type(3) li img {
    width: 60%;
  }

  /*================gallery=================*/

  .gallery {
    width: 80%;
    padding-top: 8vh;
    margin: 0 auto;
    text-align: center;
  }

  .gallery h2 {
    padding-bottom: 6vh;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #313131;
  }

  .gallery ul {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .gallery ul li {
    width: 80px;
    height: 80px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: .6;
  }

  .gallery ul li a h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: .7rem;
    font-weight: bold;
    opacity: 0;
    transition: .5s;
  }

  .gallery ul li a:hover h3 {
    opacity: 0;
  }

  .gallery ul li a div {
    width: 100%;
    height: 80px;
    overflow: hidden;
  }

  .gallery ul li a div img {
    width: 100%;
    height: 80px;
  }

  .gallery ul li a div:hover img {
    transform: scale(1);
    opacity: 1;
    transition: 0s;
  }

  .gallery ul:after{
    content: "GO GELLERY";
    background: url(../img/go_gallery.png) no-repeat 80% 56%;
    background-size: 30px 20px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 8%;
    width:99%;
    height: 58%;
    font-size: 1.4rem;
    font-weight: bold;
    border: 2px solid #000;
    box-shadow:  10px 10px 8px 1px rgba(0, 0, 0, .2);
    color: #000;
  }
}