@import url('common.css');



header {}


.h-1 {
    width: 100%;
    height: 50px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
}

.h-1 h1 {
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    font-size: 30px;
}





.h-1 .sign {
    background: #313131;
    padding: 1px 0 4px 5px;
    border-radius: 5px;
}

.h-1 .sign a {
    color: #fff;
    display: inline-block;
    font-size: .8em;
}

.h-1 .sign a p {
    background: url(../img/search-icon%202.png) no-repeat right 2px;
    width: 50px;
    display: inline-block;
}

.h-1 .sign a img {
    vertical-align: bottom;
}

.h-1 .sign a:after {
    content: '|';
    padding: 0 5px;
}

.h-1 .sign a:last-child:after {
    content: '';
}




.h-1 nav {}



.h-1 nav article {
    text-align: center;
    display: inline-block;
    padding: 0 15px;
}

.h-1 nav article a {
    color: #bdbdbd;
}

.h-1 nav article a:hover {
    color: #fff;
}

.h-1 article ul:before {
    content: '';
    border: 15px solid transparent;
    border-bottom: 20px solid #1b1b1b;
    position: absolute;
    top: -25px;
    left: 730px;
}

.h-1 article ul {
    width: 100%;
    height: 25px;
    position: absolute;
    top: 45px;
    left: 0;
    display: block;
    background: #1b1b1b;
    padding-right: 180px;
    z-index: 1;
    display: none;
}

.h-1 article:nth-of-type(1):hover ul {
    display: block;
}

.h-1 article ul li {
    background: #1b1b1b;
    display: inline-block;
    padding: 0 30px 5px 30px;
    background: none;
}

.h-1 nav article ul li a {
    display: block;
}

.h-1 nav article ul li a:hover {
    color: #fff;
}

.h-1 nav article:hover ul li:nth-of-type(1):hover .cam {
    display: block;
    transition: .2s;
}

.h-1 article .cam {
    width: 100%;
    position: absolute;
    left: 0;
    top: 25px;
    padding: 30px 200px 30px 0;
    background: #1b1b1b;
    display: none;
}

.h-1 .cam div {
    display: inline-block;
    padding: 0 30px;
    vertical-align: top;
}

.h-1 .cam div img {
    width: 100px;
    height: 60px;
}

.cam div a {
    display: block;
    font-size: .8em;
    text-align: left;
}

.cam div a p {
    font-size: 1.3em;
    padding: 5px 0 15px 0;
    text-align: center;
}

.h-1 nav article:hover ul li:nth-of-type(2):hover .lense {
    display: block;
    transition: .2s;
}

.h-1 article .lense {
    width: 100%;
    position: absolute;
    left: 0;
    top: 25px;
    padding: 30px 200px 30px 0;
    background: #1b1b1b;
    display: none;

}

.h-1 .lense div {
    display: inline-block;
    padding: 0 30px;
    vertical-align: top;
}

.h-1 .lense div img {
    padding-left: 80px;
    width: 140px;
    height: 80px;
}

.lense div a {
    display: block;
    font-size: .8em;
    text-align: left;
}

.lense div a p {
    font-size: 1.3em;
    padding: 5px 0 15px 0;
    text-align: center;
}

.h-1 nav article:hover ul li:nth-of-type(3):hover .software {
    display: block;
    transition: .2s;
}

.h-1 article .software {
    width: 100%;
    position: absolute;
    left: 0;
    top: 25px;
    padding: 30px 200px 30px 0;
    background: #1b1b1b;
    display: none;
}

.h-1 .software div {
    display: inline-block;
    padding: 0 30px;
    vertical-align: top;
}

.h-1 .software div img {
    width: 100px;
    height: 60px;
}

.software div a {
    display: block;
    text-align: center;
}

.software div a p {
    padding-top: 5px;
}

.h-1 nav article:hover ul li:nth-of-type(4):hover .accessory {
    display: block;
    transition: .2s;
}

.accessory {
    width: 100%;
    background: #1b1b1b;
    position: absolute;
    top: 25px;
    left: 0;
    padding: 30px 200px 30px 0;
    display: none;
}

.accessory .acc_top {
    width: 100%;
}

.accessory .acc_top a {
    display: inline-block;
    padding-right: 50px;
}

.accessory .acc_bottom {
    width: 100%;
}

.accessory .acc_bottom a {
    display: inline-block;
    padding-right: 50px;
}

.accessory div img {
    width: 100px;
}

.accessory div p {}

.accessory .acc_top a:nth-of-type(1) img {
    width: 60px;
}

.accessory .acc_top a:nth-of-type(3) img {
    width: 90px;
}

.menu-trigger {
    width: 20px;
    height: 10px;
    position: fixed;
    top: 15px;
    right: 5%;
    display: none;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
    top: 0;
    transform: translateY(6px) rotate(45deg);
    transition: .5s;
}

.menu-trigger.active span:nth-of-type(2) {
    bottom: 0;
    transform: translateY(-2px) rotate(-45deg);
    transition: .5s;
}







main {}

main .spot {
    width: 100%;
    height: 800px;
    background: #000;
    position: relative;
    top: 0;
    left: 0;
}

main .spot img {
    width: 100%;
    height: 800px;
}

main .spot p {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8em;
    position: absolute;
    top: 200px;
    left: 200px;
}

main .spot p:last-child {
    font-size: 1.2em;
    color: #f00;
    border: 1px solid #f00;
    padding: 10px 20px;
    top: 450px;
    left: 420px;
}

main .spot h1 {
    color: #fff;
    font-size: 7em;
    position: absolute;
    left: 200px;
    top: 250px;
}

main .spot h2 {
    color: #fff;
    font-size: 2.8em;
    position: absolute;
    top: 370px;
    left: 210px;
}

main .sub_navi {
    width: 100%;
    height: 100px;
    background: #313131;
    /*position: fixed;*/
    top: 850px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 100px;
}

main .sub_navi p {
    color: #fff;
    font-size: .9em;
}

main .sub_navi h3 {
    color: #fff;
}

main .sub_navi nav {}

main .sub_navi nav a {
    color: #fff;
    display: inline-block;
    text-align: center;
    padding-top: 40px;
    width: 100px;
    height: 100px;
}

main .sub_navi nav a:nth-of-type(1) {
    background: #00409a;
}

main .sub_navi nav a:hover:nth-of-type(1) {
    background: #00409a;
    color: #fff;
}

main .sub_navi nav a:hover {
    background: #fcae04;
    color: #000;
}

main .title {
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
}

main .title h3 {
    font-size: 2em;
    padding-top: 100px;
    white-space: pre-line;
}

main .title p {
    padding: 50px 300px 0 300px;
    white-space: pre-line;
    text-align: left;
    font-size: 1.2em;
    color: #313131;
}

main .title p:last-child {
    padding-top: 0;
    font-size: 1em;
}

main .contents {

    border-top: 2px solid #313131;
}

main .contents div {
    width: 100%;
    height: 600px;
}

main .contents div img {
    width: 50%;
}

main .contents article {
    width: 50%;
    padding: 100px 150px;
}

main .contents div h3 {
    font-size: 2em;
}

main .contents div p {
    white-space: pre-line;
    padding-top: 50px;
}

main .contents div p:nth-of-type(2) {
    padding-top: 10px;
    font-size: .8em;
    padding-bottom: 50px;
}

main .contents div a {
    display: inline-block;
    background: #fcae04;
    color: #000;
    font-size: .9em;
    padding: 10px;

}

main .contents .c-3 p,
main .contents .c-4 p,
main .contents .c-5 p {
    padding-bottom: 50px;
}

main .contents .c-1 img,
main .contents .c-3 img,
main .contents .c-5 img {
    float: right;
}

main .contents .c-1 article,
main .contents .c-3 article,
main .contents .c-5 article {
    float: left;
}

main .contents .c-2 img,
main .contents .c-4 img {
    float: left;
}

main .contents .c-2 article,
main .contents .c-4 article {
    float: right;
}

main .specification {
    padding: 150px 0 0 150px;
    width: 90%;
}

main .specification h3 {
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 1.4em;
    border-bottom: 2px solid #313131;
}

main .specification > p {
    font-size: .9em;
    padding: 10px 0 0 10px;
}

main .specification .flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 100px;
}

.specification .flex div {
    width: 80%;
}

.flex .left {
    text-align: center;
    /*    padding-left: 100px;*/
}

.flex .left p {
    font-size: 1.2em;
    white-space: pre-line;
    border-bottom: 2px solid #313131;
    padding: 50px 0 10px 0;
}

.flex .left p strong {
    font-size: .7em;
}

.flex .left p:nth-of-type(2) {
    height: 120px;
    padding: 30px 0 0 0;
}

.flex .center {
    padding: 0 100px 0 100px;
}

.flex .center h4 {
    font-size: .8em;
}

.flex .center p {
    padding-bottom: 10px;
}

.flex .right {
    padding: 50px;
    border: 2px solid #313131;
    text-align: center;
}

.flex .right img {
    margin-top: 20px;
    width: 150px;
    height: 200px;
}

.flex .right img:nth-of-type(1) {
    margin-right: 20px;
}

.flex .right img:nth-of-type(3) {
    width: 250px;
    height: 150px;
    margin-top: 50px;
}

main .acc {
    width: 90%;
    padding: 100px 0 0 150px;
}

main .acc h3 {
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 1.4em;
    border-bottom: 2px solid #313131;
}

.acc article {
    padding: 50px;
    text-align: center;
}

.acc a {
    display: inline-block;
    vertical-align: top;
    color: #000;

}

.acc img {
    width: 230px;
    height: 180px;
    border: 2px solid #313131;
    padding: 30px 70px;
}

.acc a:nth-of-type(5) img {
    padding: 50px;
}

.acc a:nth-of-type(6) img {
    padding: 60px;
}

.acc p {
    padding-top: 10px;
    white-space: pre-line;
    font-weight: bold;
}











.foot {
    margin-top: 200px;
    background: #1b1b1b;
    width: 100%;
    height: 50px;
    text-align: center;
}

.foot p {
    font-size: .8em;
    display: inline-block;
    color: #fff;
    padding: 16px 150px;
}

.foot a {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}

.foot img {
    width: 35px;
    height: 35px;
    vertical-align: middle;

}




/*---------------------------------------480------------------------------*/

@media(max-width:480px) {


    .h-1 {
        width: 100%;
        height: 40px;
        background: #000;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .h-1 h1 {
        text-transform: uppercase;
        color: #fff;
        display: inline-block;
        font-size: 15px;
        position: absolute;
        left: 43%;
        top: 10px;
    }





    .h-1 .sign {
        background: none;
    }

    .h-1 .sign a {
        color: #fff;
        display: none;
        font-size: .8em;
    }

    .h-1 .sign a:nth-of-type(2) {
        display: inline-block;
        position: absolute;
        left: 20px;
        top: 10px;
    }

    .h-1 .sign a p {
        background: url(../img/search-icon%202.png) no-repeat right 2px;
        width: 50px;
        display: inline-block;
    }


    .h-1 .sign a:after {
        content: '';
        padding: 0;
    }


     .menu-trigger {
        display: block;
    }


    .h-1 nav {
        position: fixed;
        height: 100%;
        width: 50%;
        top: 0;
        right: 0;
        display: block;
        align-items: center;
        background: rgba(0, 0, 0, 0.8);
        padding: 50% 0 0 0;
        z-index: 1;
        transform: translateX(100%);
    }

    .h-1 nav.active {
        transform: translateX(0);
        transition: .5s;
    }

    .h-1 nav article {
        display: block;
        padding-top: 30px;
    }

    .h-1 nav article a {
        color: #fff;
        display: block;
    }


    .h-1 article ul {
        position: static;
    }

    .h-1 article ul li {
        background: #1b1b1b;
        display: inline-block;
        padding: 0 30px 5px 30px;
        background: none;
    }

    .h-1 nav article ul li a {
        display: block;
    }



   

    
    
    
    main .spot {
    width: 100%;
    height: 200px;
    background:none;
    position: relative;
    top: 40px;
    left: 0;
}

main .spot img {
    width: 100%;
    height: 200px;
}

main .spot p {
    color: #fff;
    text-transform: uppercase;
    font-size: .6em;
    position: absolute;
    top: 130px;
    left: 30px;
}

main .spot p:last-child {
    font-size: .5em;
    color: #f00;
    border: 1px solid #f00;
    padding:0 2px;
    top: 165px;
    left: 130px;
}

main .spot h1 {
    color: #fff;
    font-size: 1em;
    position: absolute;
    left: 30px;
    top: 140px;
}

main .spot h2 {
    color: #fff;
    font-size: .9em;
    position: absolute;
    top: 160px;
    left: 30px;
}



    main .sub_navi {
        width: 100%;
        height: 50px;
        position: relative;
        top:40px;
        left: 0;
        background: #313131;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    main .sub_navi p {
        color: #fff;
        font-size: .7em;
        padding-left: 10px;
    }

    main .sub_navi h3 {
        color: #fff;
        font-size: .8em;
        padding-left: 10px;
    }

    main .sub_navi nav {
        padding-right: 10px;
    }

    main .sub_navi nav a {
        color: #fff;
        display: inline-block;
        text-align: center;
        padding-top:18px;
        width: 50px;
        height: 50px;
        font-size: .7em;
    }

    main .sub_navi nav a:nth-of-type(1) {
        background: #00409a;
        margin-right: 50px;
    }
    main .sub_navi nav a:nth-of-type(2){
        display: none;
    }

    main .sub_navi nav a:hover:nth-of-type(1) {
        background: #00409a;
        color: #fff;
    }

    main .sub_navi nav a:hover {
        background: #fcae04;
        color: #000;
    }

    main .title {
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
    }

    main .title h3 {
        font-size: 1em;
        padding-top: 70px;
        white-space: pre-line;
    }

    main .title p {
        display: none;
        padding:20px 20px 0 20px;
        white-space: pre-line;
        text-align: left;
        font-size: .8em;
        color: #313131;
    }

    main .title p:last-child {
        padding-top: 0;
        font-size: .6em;
    }

    
    
    main .contents {
        border-top: 2px solid #313131;
    }

    main .contents div {
        width: 100%;
        height: 150px;
    }

    main .contents div img {
        width: 50%;
    }

    main .contents article {
        width: 50%;
        padding: 20px 10px 0 10px;
    }

    main .contents div h3 {
        font-size: 1em;
    }

    main .contents div p {
        font-size: .7em;
        white-space: nowrap;
        padding:0 0 40px 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    main .contents div p:nth-of-type(2) {
        display: none;
        padding-top: 10px;
        font-size: .8em;
        padding-bottom: 50px;
    }

    main .contents div a {
        display: inline-block;
        background: #fcae04;
        color: #000;
        font-size: .6em;
        padding: 5px;

    }

    main .contents .c-3 p,
    main .contents .c-4 p,
    main .contents .c-5 p {
        padding-bottom:50px;
    }

    main .contents .c-1 img,
    main .contents .c-3 img,
    main .contents .c-5 img {
        float: right;
    }

    main .contents .c-1 article,
    main .contents .c-3 article,
    main .contents .c-5 article {
        float: left;
    }

    main .contents .c-2 img,
    main .contents .c-4 img {
        float: left;
    }

    main .contents .c-2 article,
    main .contents .c-4 article {
        float: right;
    }

    
     
    
    
    main .specification {
        padding:50px 10px 0 10px;
        width: 100%;
    }

    main .specification h3 {
        width: 100%;
        padding: 0;
        font-size: 1em;
        border-bottom: 2px solid #313131;
    }

    main .specification > p {
        font-size: .7em;
        padding:0;
    }

    main .specification .flex {
        display: block;
        width: 100%;
        padding: 30px 20px 0 20px;
    }

    .specification .flex div {
        width: 100%;
    }

    .flex .left {
        text-align: center;
        padding: 0;
    }

    .flex .left p {
        font-size: .8em;
        white-space: pre-line;
        border-bottom: 2px solid #313131;
        padding:20px 0 10px 0;
    }

    .flex .left p strong {
        font-size: .6em;
    }

    .flex .left p:nth-of-type(2) {
        height:60px;
        padding:0;
    }

    .flex .center {
        padding:50px 0;
    }

    .flex .center h4 {
        font-size: .7em;
    }

    .flex .center p {
        padding-bottom: 10px;
        font-size: .7em;
    }

    .flex .right {
        padding:30px;
        border: 2px solid #313131;
        text-align: center;
    }

    .flex .right img {
        margin-top:0;
        width: 50px;
        height: 100px;
        margin-right: 30px;
    }

    .flex .right img:nth-of-type(1){
        margin-right: 30px;
    }
    .flex .right img:nth-of-type(3) {
        width: 120px;
        height: 100px;
        margin-top:0;
        margin-right:0;
    }

    
    
    
    
    main .acc {
        width: 100%;
        padding: 50px 10px;
    }

    main .acc h3 {
        width: 100%;
        padding: 0;
        font-size: 1em;
        border-bottom: 2px solid #313131;
    }

    .acc article {
        padding: 30px 0;
        text-align: center;
    }

    .acc a {
        display: inline-block;
        vertical-align: top;
        color: #000;
padding-top: 20px;
    }

    .acc img {
        width: 140px;
        height: 140px;
        border: 2px solid #313131;
        padding:20px 30px;
    }

    .acc a:nth-of-type(5) img {
        padding: 30px 10px;
    }

    .acc a:nth-of-type(6) img {
        padding:50px 20px;
    }

    .acc p {
        padding-top: 0;
        white-space: pre-line;
        font-weight: bold;
        font-size: .7em;
    }









    .foot {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 0;
        background: #1b1b1b;
        width: 100%;
        height: 60px;
    }

    .foot p {
        position: absolute;
        top: 25px;
        font-size: .7em;
        color: #fff;
        padding: 0;
    }

    .foot p:nth-of-type(1) {
        left: 60px;
    }

    .foot p:nth-of-type(2) {
        right: 20px;
    }

    .foot a {
        position: absolute;
        top: 20px;
        padding: 0;
    }

    .foot a:nth-of-type(1) {
        left: 240px;
    }

    .foot a:nth-of-type(2) {
        left: 210px;
    }

    .foot img {
        width: 25px;
        height: 25px;

    }










}
