@import url("common.css");

main .spot {
  width: 100%;
  height: 75vh;
  background: #000;
  position: relative;
  top: 0;
  left: 0;
}

main .spot img {
  width: 100%;
  height: 100%;
}

main .spot article {
  position: absolute;
  top: 40vh;
  left: 8%;
}

main .spot p {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6em;
}

main .spot h1 {
  color: #fff;
  font-size: 4rem;
}

main .spot h2 {
  color: #fff;
  font-size: 3em;
}

main .spot p:last-child {
  font-size: 2em;
  color: #f00;
  border: 1px solid #f00;
  text-align: center;
}

main .sub_navi {
  width: 100%;
  height: 12vh;
  background: #313131;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  z-index: 2;
}

.sub_navi article {
  color: #fff;
}

.sub_navi div {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub_navi div a {
  color: #fff;
  text-align: center;
  width: 25%;
  height: 100%;
  padding-top: 12%;
}

.sub_navi div a:nth-of-type(1) {
  background: #00409a;
}

main .sub_navi div a:hover {
  background: #fcae04;
  color: #000;
}

.sub_navi div a.active {
  background: #fcae04;
  color: #000;
}

main .title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 8%;
}

main .title h2 {
  font-size: 2em;
  padding-top: 100px;
  white-space: pre-line;
}

main .title p {
  padding-top: 4%;
  white-space: pre-line;
  text-align: left;
  font-size: 1.2em;
  color: #313131;
}

main .title p:last-child {
  padding-top: 0;
  font-size: 1em;
}

main .contents {
  width: 100%;
  height: 280vh;
  border-top: 2px solid #313131;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main .contents li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .5s;
  opacity: 0;
}

.contents li:nth-of-type(1),
.contents li:nth-of-type(3),
.contents li:nth-of-type(5){
  transform: translateX(-120%);
}

.contents li:nth-of-type(2),
.contents li:nth-of-type(4){
  transform: translateX(120%);
}

.contents li.active{
  transform: translateX(0);
  opacity: 1;
}


main .contents li img {
  width: 50%;
}

main .contents article {
  width: 50%;
}

main .contents li h3 {
  font-size: 2em;
  width: 80%;
  margin: 0 auto;
}

main .contents li p {
  padding-top: 4%;
  width: 80%;
  margin: 0 auto;
}

main .contents li p:nth-of-type(2) {
  padding-top: 1%;
  font-size: 0.8em;
}

main .contents li:nth-of-type(5) {
  border-bottom: 2px solid #313131;
}

main .specification {
  padding-top: 20vh;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

main .specification h3 {
  width: 100%;
  padding: 10px 0 10px 10px;
  font-size: 1.4em;
  border-bottom: 2px solid #313131;
}

main .specification > p {
  font-size: 0.9em;
  padding: 10px 0 0 10px;
}

main .specification .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10vh;
}

.specification .flex div {
  width: 30%;
  height: 50vh;
}

.flex .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex .left p {
  width: 100%;
  font-size: 1.2em;
  border-bottom: 1px solid #313131;
  white-space: pre-line;
  padding-top: 10%;
  text-align: center;
}

.flex .left p:nth-of-type(2) {
  padding-top: 6%;
}

.flex .left p strong {
  font-size: 0.7em;
}

.flex .center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.flex .right {
  padding: 4%;
  border: 2px solid #313131;
}

.flex .right img {
  width: 45%;
  height: 50%;
}

.right img:nth-of-type(2) {
  float: right;
}

.flex .right img:nth-of-type(3) {
  width: 90%;
  height: 40%;
  margin: 10% 0 0 6%;
}

main .acc {
  width: 80%;
  margin: 0 auto;
  padding-top: 10vh;
}

main .acc h3 {
  width: 100%;
  padding: 10px 0 10px 10px;
  font-size: 1.4em;
  border-bottom: 2px solid #313131;
}

.acc ul {
  padding-top: 4%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
}

.acc ul li {
  width: 16%;
  height: 20vh;
}

.acc ul li a {
  color: #000;
}

.acc ul li span {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 2px solid #313131;
  padding-top: 12%;
}

.acc ul li span img {
  width: 40%;
  height: 80%;
}

.acc ul li:nth-of-type(5) span {
  padding-top: 14%;
}

.acc ul li:nth-of-type(6) span {
  padding-top: 24%;
}

.acc ul li:nth-of-type(5) img {
  width: 70%;
  height: 70%;
}

.acc ul li:nth-of-type(6) img {
  width: 70%;
  height: 60%;
}

.acc ul li p {
  padding-top: 10%;
  white-space: pre-line;
  font-weight: bold;
  font-size: 1.2rem;
}

/*---------------- 1440 ----------------*/
@media (max-width: 1440px) {
  main .spot {
    width: 100%;
    height: 75vh;
    background: #000;
    position: relative;
    top: 0;
    left: 0;
  }

  main .spot img {
    width: 100%;
    height: 100%;
  }

  main .spot article {
    position: absolute;
    top: 50vh;
    left: 8%;
  }

  main .spot p {
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
  }

  main .spot h1 {
    color: #fff;
    font-size: 3rem;
  }

  main .spot h2 {
    color: #fff;
    font-size: 1.8em;
  }

  main .spot p:last-child {
    font-size: 1.6em;
    color: #f00;
    border: 1px solid #f00;
    text-align: center;
  }

  main .sub_navi {
    width: 100%;
    height: 12vh;
    background: #313131;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    z-index: 2;
  }

  .sub_navi article {
    color: #fff;
  }

  .sub_navi div {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sub_navi div a {
    color: #fff;
    text-align: center;
    width: 25%;
    height: 100%;
    padding-top: 10%;
  }

  .sub_navi div a:nth-of-type(1) {
    background: #00409a;
  }

  main .sub_navi div a:hover {
    background: #fcae04;
    color: #000;
  }

  .sub_navi div a.active {
    background: #fcae04;
    color: #000;
  }

  main .title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 8%;
  }

  main .title h2 {
    font-size: 2em;
    padding-top: 20vh;
    white-space: pre-line;
  }

  main .title p {
    padding-top: 4%;
    white-space: pre-line;
    text-align: left;
    font-size: 1.2em;
    color: #313131;
  }

  main .title p:last-child {
    padding-top: 0;
    font-size: 1em;
  }

  main .contents {
    width: 100%;
    height: 250vh;
    border-top: 2px solid #313131;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  main .contents li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    opacity: 0;
  }

  .contents li:nth-of-type(1),
  .contents li:nth-of-type(3),
  .contents li:nth-of-type(5){
    transform: translateX(-120%);
  }

  .contents li:nth-of-type(2),
  .contents li:nth-of-type(4){
    transform: translateX(120%);
  }

  .contents li.active{
    transform: translateX(0);
    opacity: 1;
  }

  main .contents li img {
    width: 50%;
  }

  main .contents article {
    width: 50%;
  }

  main .contents li h3 {
    font-size: 2em;
    width: 80%;
    margin: 0 auto;
  }

  main .contents li p {
    padding-top: 4%;
    width: 80%;
    margin: 0 auto;
  }

  main .contents li p:nth-of-type(2) {
    padding-top: 1%;
    font-size: 0.8em;
  }

  main .contents li:nth-of-type(5) {
    border-bottom: 2px solid #313131;
  }

  main .specification {
    padding-top: 28vh;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
  }

  main .specification h3 {
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 1.2em;
    border-bottom: 2px solid #313131;
  }

  main .specification > p {
    font-size: 0.9em;
    padding: 10px 0 0 10px;
  }

  main .specification .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 14vh;
  }

  .specification .flex div {
    width: 30%;
    height: 60vh;
  }

  .flex .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .flex .left p {
    width: 100%;
    font-size: 1.2em;
    border-bottom: 1px solid #313131;
    white-space: pre-line;
    padding-top: 10%;
    text-align: center;
  }

  .flex .left p:nth-of-type(2) {
    padding-top: 6%;
  }

  .flex .left p strong {
    font-size: 0.6em;
  }

  .flex .center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .flex .right {
    padding: 4%;
    border: 2px solid #313131;
  }

  .flex .right img {
    width: 45%;
    height: 50%;
  }

  .right img:nth-of-type(2) {
    float: right;
  }

  .flex .right img:nth-of-type(3) {
    width: 90%;
    height: 40%;
  }

  main .acc {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    padding-top: 28vh;
  }

  main .acc h3 {
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 1.4em;
    border-bottom: 2px solid #313131;
  }

  .acc ul {
    padding-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
  }

  .acc ul li {
    width: 16%;
    height: 20vh;
  }

  .acc ul li a {
    color: #000;
  }

  .acc ul li span {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 2px solid #313131;
    padding-top: 12%;
  }

  .acc ul li span img {
    width: 40%;
    height: 80%;
  }

  .acc ul li:nth-of-type(5) span {
    padding-top: 14%;
  }

  .acc ul li:nth-of-type(6) span {
    padding-top: 24%;
  }

  .acc ul li:nth-of-type(5) img {
    width: 70%;
    height: 70%;
  }

  .acc ul li:nth-of-type(6) img {
    width: 70%;
    height: 60%;
  }

  .acc ul li p {
    padding-top: 10%;
    white-space: pre-line;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

/*------------- 1024 ------------*/
@media (max-width: 1024px) {
  main .spot {
    width: 100%;
    height: 75vh;
    background: #000;
    position: relative;
    top: 0;
    left: 0;
  }

  main .spot img {
    width: 100%;
    height: 100%;
  }

  main .spot article {
    position: absolute;
    top: 54vh;
    left: 6%;
  }

  main .spot p {
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
  }

  main .spot h1 {
    color: #fff;
    font-size: 2rem;
  }

  main .spot h2 {
    color: #fff;
    font-size: 1.2em;
  }

  main .spot p:last-child {
    font-size: 1.4em;
    color: #f00;
    border: 1px solid #f00;
    text-align: center;
  }

  main .sub_navi {
    width: 100%;
    height: 12vh;
    background: #313131;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  }

  .sub_navi article {
    color: #fff;
  }

  .sub_navi div {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sub_navi div a {
    color: #fff;
    text-align: center;
    width: 25%;
    height: 100%;
    padding-top: 12%;
  }

  .sub_navi div a:nth-of-type(1) {
    background: #00409a;
  }

  main .sub_navi div a:hover {
    background: #fcae04;
    color: #000;
  }

  .sub_navi div a.active {
    background: #fcae04;
    color: #000;
  }

  main .title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 8%;
  }

  main .title h2 {
    font-size: 2em;
    padding-top: 14vh;
    white-space: pre-line;
  }

  main .title p {
    padding-top: 4%;
    white-space: pre-line;
    text-align: left;
    font-size: 1.2em;
    color: #313131;
  }

  main .title p:last-child {
    padding-top: 0;
    font-size: 1em;
  }

  main .contents {
    width: 100%;
    height: 210vh;
    border-top: 2px solid #313131;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  main .contents li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main .contents li img {
    width: 50%;
  }

  main .contents article {
    width: 50%;
  }

  main .contents li h3 {
    font-size: 1.6em;
    width: 80%;
    margin: 0 auto;
  }

  main .contents li p {
    padding-top: 4%;
    width: 80%;
    margin: 0 auto;
  }

  main .contents li p:nth-of-type(2) {
    padding-top: 1%;
    font-size: 0.8em;
  }

  main .contents li:nth-of-type(5) {
    border-bottom: 2px solid #313131;
  }

  main .specification {
    padding-top: 30vh;
    width: 80%;
    height: 90vh;
    margin: 0 auto;
  }

  main .specification h3 {
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 1.2em;
    border-bottom: 2px solid #313131;
  }

  main .specification > p {
    font-size: 0.9em;
    padding: 10px 0 0 10px;
  }

  main .specification .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 12vh;
  }

  .specification .flex div {
    width: 30%;
    height: 50vh;
  }

  .flex .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .flex .left p {
    width: 100%;
    font-size: 1.2em;
    border-bottom: 1px solid #313131;
    white-space: pre-line;
    padding-top: 10%;
    text-align: center;
  }

  .flex .left p:nth-of-type(2) {
    padding-top: 6%;
  }

  .flex .left p strong {
    font-size: 0.6em;
  }

  .flex .center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .flex .center article h4 {
    font-size: 0.9rem;
  }

  .flex .center article p {
    font-size: 0.8rem;
  }

  .flex .right {
    padding: 2%;
    border: 2px solid #313131;
  }

  .flex .right img {
    width: 45%;
    height: 50%;
  }

  .right img:nth-of-type(2) {
    float: right;
  }

  .flex .right img:nth-of-type(3) {
    width: 90%;
    height: 40%;
  }

  main .acc {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    padding-top: 40vh;
  }

  main .acc h3 {
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 1.2em;
    border-bottom: 2px solid #313131;
  }

  .acc ul {
    padding-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
  }

  .acc ul li {
    width: 16%;
    height: 18vh;
  }

  .acc ul li a {
    color: #000;
  }

  .acc ul li span {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 2px solid #313131;
    padding-top: 12%;
  }

  .acc ul li span img {
    width: 40%;
    height: 80%;
  }

  .acc ul li:nth-of-type(5) span {
    padding-top: 14%;
  }

  .acc ul li:nth-of-type(6) span {
    padding-top: 24%;
  }

  .acc ul li:nth-of-type(5) img {
    width: 70%;
    height: 70%;
  }

  .acc ul li:nth-of-type(6) img {
    width: 70%;
    height: 60%;
  }

  .acc ul li p {
    padding-top: 10%;
    white-space: pre-line;
    font-weight: bold;
    font-size: 1rem;
  }
}

/*------------- 768 --------------*/
@media (max-width: 768px) {
  main .spot {
    width: 100%;
    height: 50vh;
    background: #000;
    position: relative;
    top: 0;
    left: 0;
  }

  main .spot img {
    width: 100%;
    height: 100%;
  }

  main .spot article {
    position: absolute;
    top: 38vh;
    left: 4%;
  }

  main .spot p {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8em;
  }

  main .spot h1 {
    color: #fff;
    font-size: 1.6rem;
  }

  main .spot h2 {
    color: #fff;
    font-size: 1em;
  }

  main .spot p:last-child {
    font-size: 1.2em;
    color: #f00;
    border: 1px solid #f00;
    text-align: center;
  }

  main .sub_navi {
    width: 100%;
    height: 8vh;
    background: #313131;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  }

  .sub_navi article {
    color: #fff;
  }

  .sub_navi div {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sub_navi div a {
    color: #fff;
    text-align: center;
    width: 25%;
    height: 100%;
    padding-top: 12%;
  }

  .sub_navi div a:nth-of-type(1) {
    background: #00409a;
  }

  main .sub_navi div a:hover {
    background: #fcae04;
    color: #000;
  }

  .sub_navi div a.active {
    background: #fcae04;
    color: #000;
  }

  main .title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 8%;
  }

  main .title h2 {
    font-size: 2em;
    padding-top: 10vh;
    white-space: normal;
  }

  main .title p {
    padding-top: 4%;
    white-space: normal;
    text-align: left;
    font-size: 1.2em;
    color: #313131;
  }

  main .title p:last-child {
    padding-top: 0;
    font-size: 1em;
  }

  main .contents {
    width: 100%;
    height: 120vh;
    border-top: 2px solid #313131;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  main .contents li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main .contents li img {
    width: 50%;
  }

  main .contents article {
    width: 50%;
  }

  main .contents li h3 {
    font-size: 1.4em;
    width: 80%;
    margin: 0 auto;
  }

  main .contents li p {
    font-size: 0.9rem;
    padding-top: 4%;
    width: 80%;
    margin: 0 auto;
  }

  main .contents li p:nth-of-type(2) {
    padding-top: 1%;
    font-size: 0.8em;
  }

  main .contents li:nth-of-type(5) {
    border-bottom: 2px solid #313131;
  }

  main .specification {
    padding-top: 20vh;
    width: 80%;
    height: 150vh;
    margin: 0 auto;
  }

  main .specification h3 {
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 1.2em;
    border-bottom: 2px solid #313131;
  }

  main .specification > p {
    font-size: 0.9em;
    padding: 10px 0 0 10px;
  }

  main .specification .flex {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 4vh;
  }

  .specification .flex div {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
  }

  .flex .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .flex .left p {
    width: 100%;
    font-size: 1.2em;
    border-bottom: 1px solid #313131;
    white-space: pre-line;
    padding-top: 10%;
    text-align: center;
  }

  .flex .left p:nth-of-type(2) {
    padding-top: 6%;
  }

  .flex .left p strong {
    font-size: 0.6em;
  }

  .flex .center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10vh 0 54vh 0;
  }

  .flex .center article {
    padding-bottom: 4%;
  }
  .flex .center article h4 {
    font-size: 1.1rem;
  }

  .flex .center article p {
    font-size: 1rem;
  }

  .flex .right {
    padding: 0;
    border: none;
  }

  .flex .right img {
    width: 25%;
    height: 40%;
  }

  .right img:nth-of-type(2) {
    float: none;
  }

  .flex .right img:nth-of-type(3) {
    width: 40%;
    height: 30%;
  }

  main .acc {
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    padding-top: 40vh;
  }

  main .acc h3 {
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 1.2em;
    border-bottom: 2px solid #313131;
  }

  .acc ul {
    padding-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
  }

  .acc ul li {
    width: 16%;
    height: 10vh;
  }

  .acc ul li a {
    color: #000;
  }

  .acc ul li span {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 2px solid #313131;
    padding-top: 20%;
  }

  .acc ul li span img {
    width: 40%;
    height: 70%;
  }

  .acc ul li:nth-of-type(5) span {
    padding-top: 30%;
  }

  .acc ul li:nth-of-type(6) span {
    padding-top: 40%;
  }

  .acc ul li:nth-of-type(5) img {
    width: 70%;
    height: 70%;
  }

  .acc ul li:nth-of-type(6) img {
    width: 70%;
    height: 50%;
  }

  .acc ul li p {
    padding-top: 10%;
    white-space: normal;
    font-weight: bold;
    font-size: 0.9rem;
  }
}

/*------------- 425 --------------*/
@media (max-width: 425px) {
  main .spot {
    width: 100%;
    height: 30vh;
    background: #000;
    position: relative;
    top: 0;
    left: 0;
  }

  main .spot img {
    width: 100%;
    height: 100%;
  }

  main .spot article {
    position: absolute;
    top: 18vh;
    left: 4%;
  }

  main .spot p {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.5em;
  }

  main .spot h1 {
    color: #fff;
    font-size: 1.2rem;
  }

  main .spot h2 {
    color: #fff;
    font-size: 1em;
  }

  main .spot p:last-child {
    font-size: 1em;
    color: #f00;
    border: 1px solid #f00;
    text-align: center;
  }

  main .sub_navi {
    width: 100%;
    height: 8vh;
    background: #313131;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  }

  .sub_navi article {
    color: #fff;
  }

  .sub_navi article h2 {
    font-size: 1.2rem;
  }

  .sub_navi div {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sub_navi div a {
    color: #fff;
    text-align: center;
    width: 25%;
    height: 100%;
    padding-top: 10%;
  }

  .sub_navi div a:nth-of-type(1) {
    background: #00409a;
  }

  main .sub_navi div a:hover {
    background: #fcae04;
    color: #000;
  }

  .sub_navi div a.active {
    background: #fcae04;
    color: #000;
  }

  main .title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 8%;
  }

  main .title h2 {
    font-size: 1.8em;
    padding-top: 10vh;
    white-space: normal;
  }

  main .title p {
    padding-top: 8%;
    white-space: normal;
    text-align: left;
    font-size: 1.2em;
    color: #313131;
  }

  main .title p:last-child {
    padding-top: 0;
    font-size: 1em;
  }

  main .contents {
    width: 100%;
    height: 300vh;
    border-top: 2px solid #313131;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #000;
  }

  main .contents li {
    width: 90%;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-top: 6%;
  }

  .contents li:nth-of-type(1),
  .contents li:nth-of-type(3),
  .contents li:nth-of-type(5){
    transform: translateX(-120%);
  }

  .contents li.active{
    transform: translateX(0);
  }

  main .contents li img {
    width: 100%;
  }

  main .contents article {
    width: 100%;
    background: #313131;
    padding: 6% 0 6% 0;
  }

  main .contents li h3 {
    font-size: 1.4em;
    width: 80%;
    margin: 0 auto;
    color: #fff;
  }

  main .contents li p {
    font-size: 0.9rem;
    padding-top: 4%;
    width: 80%;
    margin: 0 auto;
    color: #fff;
  }

  main .contents li p:nth-of-type(2) {
    padding-top: 1%;
    font-size: 0.8em;
  }

  main .contents li:nth-of-type(5) {
    border-bottom: 2px solid #313131;
  }

  main .specification {
    padding-top: 20vh;
    width: 80%;
    height: 170vh;
    margin: 0 auto;
  }

  main .specification h3 {
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 1.2em;
    border-bottom: 2px solid #313131;
  }

  main .specification > p {
    font-size: 0.9em;
    padding: 10px 0 0 10px;
  }

  main .specification .flex {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 4vh;
  }

  .specification .flex div {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
  }

  .flex .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .flex .left p {
    width: 100%;
    font-size: 1.2em;
    border-bottom: 1px solid #313131;
    white-space: pre-line;
    padding-top: 10%;
    text-align: center;
  }

  .flex .left p:nth-of-type(2) {
    padding-top: 6%;
  }

  .flex .left p strong {
    font-size: 0.6em;
  }

  .flex .center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10vh 0 80vh 0;
  }

  .flex .center article {
    padding-bottom: 4%;
  }
  .flex .center article h4 {
    font-size: 1.1rem;
  }

  .flex .center article p {
    font-size: 1rem;
  }

  .flex .right {
    padding: 0;
    border: none;
  }

  .flex .right img {
    width: 25%;
    height: 40%;
  }

  .right img:nth-of-type(2) {
    float: none;
  }

  .flex .right img:nth-of-type(3) {
    width: 40%;
    height: 30%;
  }

  main .acc {
    width: 80%;
    height: 140vh;
    margin: 0 auto;
    padding-top: 40vh;
  }

  main .acc h3 {
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 1.2em;
    border-bottom: 2px solid #313131;
  }

  .acc ul {
    padding-top: 0;
    display: block;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
  }

  .acc ul li {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    height: 20vh;
    margin-top: 20%;
  }

  .acc ul li a {
    color: #000;
  }

  .acc ul li span {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 2px solid #313131;
    padding-top: 20%;
  }

  .acc ul li span img {
    width: 40%;
    height: 70%;
  }

  .acc ul li:nth-of-type(5) span {
    padding-top: 30%;
  }

  .acc ul li:nth-of-type(6) span {
    padding-top: 40%;
  }

  .acc ul li:nth-of-type(5) img {
    width: 70%;
    height: 70%;
  }

  .acc ul li:nth-of-type(6) img {
    width: 70%;
    height: 50%;
  }

  .acc ul li p {
    padding-top: 10%;
    white-space: normal;
    font-weight: bold;
    font-size: 0.9rem;
  }
}
