@import url(link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
/*font-family: 'Roboto', sans-serif;*/
@import url(link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
/*font-family: 'Nanum Gothic', sans-serif;*/
html,
body {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
