@import url('common.css');



header {}


.h-1 {
    width: 100%;
    height: 50px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
}

.h-1 h1 {
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    font-size: 30px;
}





.h-1 .sign {
    background: #434343;
    padding: 1px 0 4px 5px;
    border-radius: 5px;
}

.h-1 .sign a {
    color: #fff;
    display: inline-block;
    font-size: .8em;
}

.h-1 .sign a p {
    background: url(../img/search-icon%202.png) no-repeat right 2px;
    width: 50px;
    display: inline-block;
}

.h-1 .sign a img {
    vertical-align: bottom;
}

.h-1 .sign a:after {
    content: '|';
    padding: 0 5px;
}

.h-1 .sign a:last-child:after {
    content: '';
}




.h-1 nav {}



.h-1 nav article {
    text-align: center;
    display: inline-block;
    padding: 0 15px;
}

.h-1 nav article a {
    color: #bdbdbd;
}

.h-1 nav article a:hover {
    color: #fff;
}

.h-1 article ul:before {
    content: '';
    border: 15px solid transparent;
    border-bottom: 20px solid #1b1b1b;
    position: absolute;
    top: -25px;
    left: 730px;
}

.h-1 article ul {
    width: 100%;
    height: 25px;
    position: absolute;
    top: 50px;
    left: 0;
    display: block;
    background: #1b1b1b;
    padding-right: 220px;
    z-index: 1;
    display: none;
}
.h-1 article:nth-of-type(1):hover ul{
    display: block;
}

.h-1 article ul li {
    background: #1b1b1b;
    display: inline-block;
    padding-right: 20px;
    /*    position: relative;*/
}

.h-1 nav article ul li a {
    display: block;
}

.h-1 nav article ul li a:hover {
    color: #fff;
}

.h-1 nav article:hover ul li:nth-of-type(1):hover .cam {
    display: block;
    transition: .2s;
}

.h-1 article .cam {
    width: 100%;
    position: absolute;
    left: 0;
    top: 25px;
    padding: 30px 200px 30px 0;
    background: #1b1b1b;
    display: none;
}

.h-1 .cam div {
    display: inline-block;
    padding: 0 30px;
    vertical-align: top;
}

.h-1 .cam div img {
    width: 100px;
    height: 60px;
}

.cam div a {
    display: block;
    font-size: .8em;
    text-align: left;
}

.cam div a p {
    font-size: 1.3em;
    padding: 5px 0 15px 0;
    text-align: center;
}

.h-1 nav article:hover ul li:nth-of-type(2):hover .lense {
    display: block;
    transition: .2s;
}

.h-1 article .lense {
    width: 100%;
    position: absolute;
    left: 0;
    top: 25px;
    padding: 30px 200px 30px 0;
    background: #1b1b1b;
    display: none;

}

.h-1 .lense div {
    display: inline-block;
    padding: 0 30px;
    vertical-align: top;
}

.h-1 .lense div img {
    width: 50px;
    height: 70px;
}

.lense div a {
    display: block;
    font-size: .8em;
    text-align: left;
}

.lense div a p {
    font-size: 1.3em;
    padding: 5px 0 15px 0;
    text-align: center;
}

.h-1 nav article:hover ul li:nth-of-type(3):hover .software {
    display: block;
    transition: .2s;
}

.h-1 article .software {
    width: 100%;
    position: absolute;
    left: 0;
    top: 25px;
    padding: 30px 200px 30px 0;
    background: #1b1b1b;
    display: none;
}

.h-1 .software div {
    display: inline-block;
    padding: 0 30px;
    vertical-align: top;
}

.h-1 .software div img {
    width: 100px;
    height: 60px;
}

.software div a {
    display: block;
    text-align: center;
}

.software div a p {
    padding-top: 5px;
}

.h-1 nav article:hover ul li:nth-of-type(4):hover .accesory {
    display: block;
    transition: .2s;
}

.accessory {
    width: 100%;
    background: #1b1b1b;
    position: absolute;
    top: 25px;
    left: 0;
    padding: 30px 200px 30px 0;
    display: none;
}
.accessory .acc_top{
    width: 100%;
}
.accessory .acc_top a{
    display: inline-block;
    padding-right: 50px;
}
.accessory .acc_bottom{
    width: 100%;
}
.accessory .acc_bottom a{
    display: inline-block;
    padding-right: 50px;
}
.accessory div img{
    width: 100px;
}
.accessory div p{
    
}
.accessory .acc_top a:nth-of-type(1) img{
    width: 60px;
}
.accessory .acc_top a:nth-of-type(3) img{
    width: 90px;
}





main {}


main .spot {
    width: 100%;
    height: 700px;
    text-align: center;
    background: #000;

}

main .spot a {
    position: relative;
    left: 0;
    top: 0;
}

main .spot a img {
    width: 90%;
    height: 100%;
}

main .spot article {
    position: absolute;
    top: -550px;
    left: 200px;
    border-left: 5px solid #8286ac;
    color: #000;
    padding-left: 20px;
}

main .spot a article h2 {}

main .spot a article h3 {
    font-size: 4em;
}

main .spot a p {
    color: #f00;
    border: 2px solid #f00;
    display: inline-block;
    padding: 10px;
    position: absolute;
    left: 240px;
    top: -400px;
}

main .contents {
    width: 100%;
    height: 1300px;
    padding-top: 100px;
    text-align: center;
}

main .contents div {
    width: 100%;
}

main .contents ul {}

main .contents ul li {
    display: inline-block;
    
    width: 350px;
    height: 350px;
    vertical-align: top;
    margin: 0 30px 30px 0;
    
}

main .contents ul li:hover a{
    border: 2px solid #fcae04;
    color: #fcae04;
}
main .contents ul li:last-child {
    margin-right: 0;
}

main .contents ul li a {
    display: inline-block;
    border: 2px solid #000;
    color: #000;
    text-align: left;
    width: 350px;
    height: 350px;
    padding: 10px;
}

main .contents ul li a img {
    width: 150px;
    float: right;
    position: relative;
    right: 0;
    bottom:0;
}

main .contents ul li a h3 {
    font-size: 1.1em;
    text-transform: uppercase;
    white-space: pre-line;
}

main .contents ul li a p {
    white-space: pre-line;
    font-size: .9em;
}
main .omd ul li a img{}
.omd ul li:nth-of-type(1) a img{
    bottom: -50px;
}
.omd ul li:nth-of-type(2) a img{
    bottom: -80px;
}
.omd ul li:nth-of-type(3) a img{
    bottom: -80px;
}
.omd ul li:nth-of-type(4) a img{
bottom: -120px;
}
main .pen ul li a img{}
.pen ul li:nth-of-type(1) a img{
    bottom: -120px;
}
.pen ul li:nth-of-type(2) a img{
    bottom: -80px;
}
.pen ul li:nth-of-type(3) a img{
    bottom: -120px;
}
.pen ul li:nth-of-type(4) a img{
    bottom: -100px;
}
main .lense ul li a img {
    width: 100px;
    right: 10px;
}
.lense ul li:nth-of-type(1) a img{
    bottom: -40px;
}
.lense ul li:nth-of-type(2) a img {
     bottom: -80px;
}

.lense ul li:nth-of-type(3) a img {
     bottom: -100px;
}

.lense ul li:nth-of-type(4) a img {
     bottom: -140px;
}
main .gallery{
    text-align: center;
    padding-top: 100px;
}
main .gallery a{
    color: #000;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
}
main .gallery a img{
    width: 80%;
    box-shadow: 0 0 20px rgba(48, 48, 48, 0.7);
}
main .gallery a h3{
    position: absolute;
    top: -180px;
    left: 150px;
    text-transform: uppercase;
    font-size: 2em;
}
main .gallery a p{
    position: absolute;
    left: 150px;
    top: -100px;
    white-space: pre-line;
    text-align: left;
}

.foot {
    margin-top: 200px;
    background: #1b1b1b;
    width: 100%;
    height: 50px;
    text-align: center;
}

.foot p {
    font-size: .8em;
    display: inline-block;
    color: #fff;
    padding: 16px 150px;
}

.foot a {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}

.foot img {
    width: 35px;
    height: 35px;
    vertical-align: middle;

}
